@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
  border: 1px solid red;
}

h1 {
  @apply text-2xl font-bold text-gray-800;
}

table {
}

/* td,
th {
  border: 1px solid black;
} */

td > div {
  @apply flex justify-center px-3;
}

/* th {
  @apply bg-gray-800 px-3 text-white;
}

tr:nth-child(odd) {
  @apply bg-gray-300;
} */

label {
  @apply flex flex-col;
}

input,
select {
  @apply rounded-lg border border-gray-300 px-2 py-1 outline-none focus:border-indigo-500;
}

button,
button[type='button'],
button[type='submit'] {
  @apply rounded-lg bg-indigo-800 px-3 py-2 text-white hover:bg-indigo-500;
}

button:disabled {
  @apply cursor-not-allowed bg-gray-300 text-gray-500;
}

button.secondary {
  @apply bg-gray-400 text-gray-800 hover:bg-gray-200;
}

li {
  @apply rounded-md border border-gray-200 px-3 py-2 text-gray-200;
}

li:hover {
  @apply cursor-pointer bg-gray-700;
}

li.active {
  @apply border border-indigo-300 bg-gray-900;
}

.sidebar-mobile {
  @apply absolute top-0 left-0 h-screen w-1/2;
}

.sidebar-desktop {
  @apply w-64 px-3 py-5 text-white md:relative;
}

.icon-dark {
  @apply bg-transparent text-2xl text-gray-900 hover:bg-gray-50;
}

.icon-white {
  @apply bg-transparent text-2xl text-white hover:bg-gray-700;
}
